

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 800 */

#reset-button{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1px 25%;
    padding: 25px;
}


body {
    background-color: #00002c;
    color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 25px;
}


button{
    
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #111827;
    color: white;
    font-style: italic;
    border: 3px solid #f472b6;
    border-radius: 5%;
    padding: 10px;   

}

h1,h2,h3{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

image-div{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#button-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-decoration-color: #f472b6;
    justify-content: space-evenly;
    background-color: #111827;
    border: 5px solid #f472b6;
    padding: 25px;
    margin: 10px 25%;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}