
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 800 */

#humanScore,#computerScore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #f472b6;
    font-size: 35px;
}

#scoreBoard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px;
}

#reset-button{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 25%;
    padding: 0px;
}


body {
    
    background-color: #00002c;
    color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 20px;
}


button{
    
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #111827;
    color: white;
    font-style: italic;
    border: 3px solid #f472b6;
    border-radius: 5%;
    padding: 10px;   

}

#humanScore,#computerScore{
    font-size: 50px;
    padding: 25px;
}
#humanScore{
    color: #2bfc01;
}

#computerScore{
    color: #fc0161;
}

h1,h2,h3{
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#humanBox,#computerBox{
    display: flex;
    flex-direction: column;
}

image-div{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#button-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    background-color: #111827;
    border: 5px solid #f472b6;
    padding: 15px;
    margin: 15px 25%;
}

#results,#score{
    margin: 10px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}